    <div id='calendar'></div>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.14/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
         initialView: 'timeGridFourDay',
         views: {
          timeGridFourDay: {
            type: 'timeGrid',
            duration: { days: 4 }
          }
         },
         googleCalendarApiKey: 'AIzaSyCt5hB_DrPe2RQNOskvgmlWFPN5_hK2V1s',
          eventSources: [{
            googleCalendarId: 'a4f445f6b16f72d0be32dbf4baa3ca35f9733666227458bff248d6e3629aa3d9@group.calendar.google.com'
          }]
        });
        calendar.render();
      });

    </script>
